.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: #ffffff;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(5,179,75,1) 0%, rgba(47,187,223,1) 100%, rgba(0,212,255,1) 100%); }
    .container > * {
      padding-left: 130px;
      padding-right: 130px; }
header {
    background-repeat: round;
    background-size: cover;
    padding-top: 30px; 
    padding-bottom: 70px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px; }
    .footer p {
      text-align: center;
      font-size: 15px;
      text-transform: uppercase; }
    